
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,200;0,300;0,400;1,200&family=Montserrat:ital,wght@0,200;0,300;0,400;1,300&display=swap');

*{
    margin: 0;
    padding:0;
    text-decoration: none;
    list-style: none;
    
}

body{
    background: #fbfbff;
    
}
html{
  scroll-behavior: smooth;
}



.hamburguer{
    
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index:100;
    right: 5rem;
    top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor:pointer;
    color: white;
}
.hamburguer-close{
    display: none;
    color:black;
}

.show-menu .hamburguer-close {
    right: 16rem;
    display:flex;
    justify-content: flex-end;
  }
  
  
  
header{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}


.banner{
    position: absolute;
    top:30%;
    left: 0;
    right: 0;
    text-align: center;
    
}
.banner h1{
    color:white;
    font-size: 8rem;
    font-family: 'Jura', sans-serif;
    font-weight: 400;
    text-shadow: .2rem .3rem 2px rgba(0, 0,0, .4);
    line-height:3.5rem;
    margin-bottom: 2rem;
    animation: moveBanner 1s 0.5s forwards
    ;
    opacity: 0;
}
@keyframes moveBanner{
    0%{
        transform:translateX(10rem) rotateX(-50deg);
    }
    100%{
        transform:translateX(0) rotateX(0);
        opacity: 1;
    }
}
.banner p{
    font-family: 'Exo 2', sans-serif;
    font-size: 3rem;
    color:#fff;
    text-shadow: .2rem .2rem rgba(0, 0,0, .4);
    margin-bottom: 2rem;
    line-height: 5rem;
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
}
 .sidebar {
    width: 20rem;
    height: 100vh;
    background-color:#000;
    position: fixed;
    top: 0;
    right:0;
    transition: all 1s;
    z-index: 80;
    opacity: 0.8;
    display: none;
  }
  
  .show-menu .sidebar {
    display: block;
    transition: all ease-in 5s;
  }
  
  .menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .menu-item {
    text-align: center;
    margin:50px;
    margin-bottom: 0.5rem;
  }
  
  .menu-link {
    font-family: "Nunito",sans-serif;
    font-size: 1.5rem;
    color: white;
    transition: color 1s;
  }
  
  .menu-link:hover {
    color:gray;
  }
  
  .social-media {
    position: absolute;
    bottom: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  
  .social-media i {
    background-color:transparent;
    color: rgba(255, 255, 255, 1);
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 1s;
  }
  
  .social-media i:hover {
    background-color: gray;
  }
  
  .sobre{
    width: 100%;
    background: #f8f9fa;
  }

  .sobre p{
    font-size: 4rem;
    color:#212529;
    font-family: 'Kalam', cursive;
    text-align: center;
    padding: 70px;
  }
  .cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 25px;
    padding: 40px;
  }
  .cards img{
    width: 40rem;
    height:40rem;
    border-radius: 10px;
  }

  .galeria{
   
    background: hsla(132, 79%, 68%, 1);
    background: linear-gradient(90deg, hsla(132, 79%, 68%, 1) 0%, hsla(101, 62%, 48%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(132, 79%, 68%, 1) 0%, hsla(101, 62%, 48%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(132, 79%, 68%, 1) 0%, hsla(101, 62%, 48%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#6EEE87", endColorstr="#5FC52E", GradientType=1 );
  }
  .galeria .container{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin:25px;
    
  
        
  }
  .grid-image{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }
  .wide{
    grid-column: span 2;
  }
  .grid-image img{
    width: 100%;
    height:400px;
    object-fit: cover;
    border-radius: 10px;
  } 
  
  .titulo{
    display: flex;
    justify-content: center;
    padding: 50px;  
  }
  .titulo h3{
    font-size: 4rem;
    color: white;
    text-align: center;
    letter-spacing: 8px;
    font-family: 'Jura', sans-serif;
    padding-bottom: 10px;
   border-bottom: 3px solid white;
    
  }

  .contato h1{

    font-size: 4rem;
    color:black;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 5px;
    font-family: 'Jura', sans-serif;
    padding-bottom: 10px;
  }
  .contato p{
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Kalam', sans-serif;
    margin: 20px;
  }
  .whatsapp{
    display: flex;
    justify-content:center;
    
  }
  .whatsapp .btn{
    padding: 10px 15px;
    margin:20px;
    border-radius: 15px;
    border: none;
    background: #25d366;
    color: #fff;
    font-size: 1.25rem;
    cursor: pointer;
   }
  button i{
    color: #fff;
   }
  
   footer{
    width: 100%;
    height: 10vh;
    background: #e9ecef;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Jura', sans-serif;
   }
